<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1 id="title">B O O K S</h1>
    <div><a href="/" title="home">Home</a></div>
    <div><a href="/searches/new" title="search">Search</a></div>
      <h1>Your Saved Books</h1>
      <!-- <% let totalBooks = 0; %>
      <% for (let i = 0;i < bookResults.length; i++) { %>
        <%totalBooks++%>
      <% } %>
      <h3> <% totalBooks %> Saved</h3> -->
      <% for (let data of bookResults) { %>
        <h3><%= data.id %>: <%= data.title %></h2>
          <h3>by <%= data.author %></h3>
          <img id="image" src="<%= data.image_url %>" alt="cover">
      <p><%= data.book_desc %></p>
      <p>isbn: <%= data.isbn %></p>
      <% } %> 

  </header>
</body>
</html>